<table class="table table-hover">
  <tr>
    <th>Student</th>
    <th>Correct</th>
    <th>Actions</th>
  </tr>

  <% @results.each do |result| %>
      <tr>
        <td><%= result.student %></td>
        <td><%= result.correct %></td>
        <td>
          <%= link_to 'Delete', test_path(result), class: 'label label-danger',
                      method: :delete,
                      data: {confirm: 'Do you want to remove this result?'} %>
        </td>
      </tr>
  <% end %>

</table>
